---
import type { GetStaticPaths } from "astro";
import { ARCHIVE_CDN } from "astro:env/client";
import Layout from "~/layouts/Layout.astro";
import VideoGrid from "~/components/VideoGrid.svelte";

export const getStaticPaths = (() => {
  return [
    { params: { type: "vods" } },
    { params: { type: "highlights" } },
    { params: { type: "clips" } },
    { params: { type: "rplay" } },
  ];
}) satisfies GetStaticPaths;

const { type } = Astro.params;
---

<Layout>
  <h1 class="p-4 text-3xl uppercase">{type}</h1>
  <VideoGrid client:only="svelte" videoType={type} videoPath={ARCHIVE_CDN} />
</Layout>
