@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-kumo-purple: #948392;
  --color-kumo-pink: #f2adbd;
  --color-kumo-yellow: #c4945d;

  --font-kalam: "Kalam", "sans-serif";
}
