---
import SidebarLayout from "~/layouts/SidebarLayout.astro";
import { getCollection } from "astro:content";

const sessions = await getCollection("baldursGate");
---

<SidebarLayout>
  <h1 class="text-2xl underline">Sessions</h1>
  <ol class="p-4">
    {
      sessions.map((session) => (
        <li class="list-decimal p-0.5">
          <a class="underline decoration-kumo-purple decoration-solid" href={`/kumo-site/dnd/baldurs-gate/sessions/${session.id}`}>
            {session.data.title}  <span class="text-sm text-gray-500">{session.data.date.toDateString()}</span>
          </a>
        </li>
      ))
    }
  </ol>

  <p class="p-4 text-sm">NOTE: I am using baldur's gate as a placeholder for a D&D campaign. I am not very knowledgable about D&D so it is easier for me to placeholder stuff with something I am more familiar with.</p>
</SidebarLayout>
