---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";
import SessionListItem from '~/components/bg/SessionListItem.astro'

import { mapByActs } from '~/bg'

const sessions = await getCollection("baldursGate");
const sessionActMap = mapByActs(sessions)

---

<Layout>
  <h1 class="text-4xl font-kalam py-4">Baldur's Gate Sessions</h1>
  
  {Object.entries(sessionActMap).map(([act, sessions]) => (
    <div class="mb-4">
      <h2 class="text-3xl font-kalam text-kumo-pink p-2">{act}</h2>
      <div>
        {sessions.map(session => <SessionListItem session={session}></SessionListItem>)}
      </div>
    </div>
  ))}

  <hr class="mt-12 mx-4">
  <p class="p-4 text-sm">NOTE: I am using baldur's gate as a placeholder for a D&D campaign. I am not very knowledgable about D&D so it is easier for me to placeholder stuff with something I am more familiar with.</p>

</Layout>
