---
import SidebarLayout from "~/layouts/SidebarLayout.astro";
import { getCollection } from "astro:content";

const sessions = await getCollection("baldursGate");
---

<SidebarLayout>
  <h1 class="text-2xl underline">Sessions</h1>
  <ul>
    {
      sessions.map((session) => (
        <li>
          <a href={`/kumo-site/dnd/baldurs-gate/sessions/${session.id}`}>
            {session.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</SidebarLayout>
