---
import SidebarLayout from "~/layouts/SidebarLayout.astro";
---
<SidebarLayout>
  <h1 class="text-4xl pb-2">About</h1>

  <h2 class="text-2xl">Note:</h2>
  <p>This is a fan site. It is not affiliated with kumogorogoro.</p>

  <p>It is currently just a site made for fun and learning purposes.</p>
</SidebarLayout>
