---
import Layout from "~/layouts/SidebarLayout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h2 class="p-2 text-2xl">Welcome Koomers!</h2>
  <p class="p-2">This is just a page I am making for fun and to learn web development. Feel free to look around! It is still very much a work in progress.</p>

  <p class="p-2">
    The BG3 pages are dynamically generated from markdown files located in the <code class="font-mono bg-dark-gray">src/dnd/baldurs-gate</code> folder of the source code.
    <br>
    They are a mock up of how a series of DND compaigns could be created with minimal coding required.
    <br>
    It would also reduce repetitive task of doing it manually with HTML.
    <br>
    Here is a link to one of the example sessions in markdown: <a class= "italic underline" href="https://github.com/doxyxdd/kumo-site/blob/main/src/dnd/baldurs-gate/session-02.md">Source Code of Session 02</a>
  </p>

  <p class="p-2 bg-dark-gray">If you have any questions, suggestions, or feedback, feel free to ping me or @ me on discord (@doxyxd)!</p>

  <div class="p-4">Link to the source code: <a class="underline" href="https://github.com/doxyxdd/kumo-site">Github - Kumo Site</a></div>
</Layout>
