---
import Layout from "~/layouts/SidebarLayout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h2 class="p-2 text-2xl">Welcome Koomers!</h2>
  <p>This is just a page I am making for fun and to learn web development. Feel free to look around! It is still very much a work in progress.</p>

  <div class="p-4">Link to the source code: <a class="underline" href="https://github.com/doxyxdd/kumo-site">Github - Kumo Site</a></div>
</Layout>
