---
import SidebarLayout from "~/layouts/SidebarLayout.astro"

---

<SidebarLayout>
  <h1 class="p-4 text-3xl font-kalam font-bold">Lily Hopkins</h1>

  <button id="jam">CLICK</button>

  <iframe width="315" height="560" src="https://www.youtube-nocookie.com/embed/idYJ70wMZ18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1187015824&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-952658388" title="lilybops" target="_blank" style="color: #cccccc; text-decoration: none;">lilybops</a> · <a href="https://soundcloud.com/user-952658388/calamity" title="calamity" target="_blank" style="color: #cccccc; text-decoration: none;">calamity</a></div>

  <script is:inline src="https://w.soundcloud.com/player/api.js"></script>


  <script>
    let iframe = document.querySelector('iframe');
    let song = SC.Widget(iframe);
    let button = document.getElementById('jam');
    button?.addEventListener('click', () => {
      song.toggle();
    })

  </script>
</SidebarLayout>
