---
import BaseLayout from '~/layouts/BaseLayout.astro'
import Layout from '~/layouts/Layout.astro'
---
<BaseLayout title="Kumo Fan Site">
  <Layout>
    <h1>Short Example</h1>
    <p>Basic example with minimal content...</p>
  </Layout>
</BaseLayout>
