---
import BaseLayout from '~/layouts/BaseLayout.astro'
import WebLayout from '~/layouts/WebLayout.astro'
---
<BaseLayout title="Kumo Fan Site">
  <WebLayout>
    <h1>Short Example</h1>
    <p>Basic example with minimal content...</p>
  </WebLayout>
</BaseLayout>
