---
import "../styles/global.css";

interface Props {
  title?: string
}

const { title = 'Kumo Fan Site' } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-screen w-full max-w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/kumo-site/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://doxyxdd.github.io/kumo-site/">
    <meta property="og:title" content={title}>
    <meta property="og:description" content="Fan made page for vtuber kumogorogoro. Made for fun and educational purposes!">
    <meta property="og:image" content="https://doxyxdd.github.io/kumo-site/kumo-nerd.png">
    <title>{ title }</title>
  </head>
  <body class="bg-black text-white w-full h-screen">
    <slot />
  </body>
</html>
