---
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kumogorogoro Fan Site</title>
	</head>
	<body class="bg-black text-white">
    <div class="header w-full py-10 bg-kumo-purple"></div>
    <div>
      <nav class="sidebar font-kalam">
        <a class="" href="/">Home</a>
        <a href="/about">About</a>
        <a href="/support">Support</a>
      </nav>
      <main>
        <h1>Home Page</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolores est ut nostrum sed fugiat sint? In labore consequatur, eaque voluptatum ipsa iusto beatae dolor molestiae! Aliquid recusandae reprehenderit at.
        </p>
      </main>
    </div>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
