---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Kumogorogoro Fan Site</title>
  </head>
  <body class="bg-black text-white">
    <div class="header bg-kumo-purple w-full py-10">
      <nav class="sidebar font-kalam text-xl">
        <a class="" href="/">Home</a>
        <a href="/dnd/baldurs-gate">Baldur's Gate</a>
      </nav>
    </div>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
