---
import '~/styles/global.css'
import { Image } from 'astro:assets';

import KoomerExcited from '~/assets/koomer-excite.png';

const sidebarLinks = [
  { href: '/kumo-site/', displayText: 'Home'},
  { href: '/kumo-site/about', displayText: 'About' },
  { href: '/kumo-site/socials', displayText: 'Socials' },
  { href: '/kumo-site/jast', displayText: 'Jast Idols'},
  { href: '/kumo-site/asmr', displayText: 'ASMR' },
  { href: '/kumo-site/dnd/baldurs-gate', displayText: "Baldur's Gate (D&D)" }
]


const currentPath = new URL(Astro.request.url).pathname;
---
<div class="flex w-full h-full flex-col max-h-full">
  <div class="w-full flex bg-fuchsia-300 text-4xl items-center">
    
    <a class="my-2 mx-4 size-12" href="/kumo-site/"><span class="size-full iconify line-md--home"></span></a>

    <button id="toggleMenuButton" class="md:hidden block size-12 m-2 iconify line-md--menu"></button>

    <div class="flex-1"></div>

    <Image class="size-12 mx-2" src={KoomerExcited} alt="Excited Koomer" />

    <div class="bg-amber-300 hidden md:block">
      <h1>kumogorogoro</h1>
    </div>

    <div class="flex-1"></div>
    
    <a class="size-14 p-2" title="Follow kumo on twitter" href="https://x.com/kumogorogoro"><span class="iconify line-md--twitter-x size-full"></span></a>

  </div>

  <div class="flex flex-col md:flex-row bg-green-300 flex-1">
    <!-- Sidenav -->
    <nav id="sidenav" data-show="false" class="hidden md:block px-2 text-center md:text-left w-full md:w-50 h-fit md:h-full bg-blue-300 text-2xl">
      {sidebarLinks.map(item => (
        <a 
          class:list={[
            { "font-bold": currentPath === item.href },
            `block p-2
            border-l-4 border-l-transparent
            hover:border-l-4 hover:border-kumo-yellow
            `
          ]}
          href={item.href}>{item.displayText}</a>))}
    </nav>
    <!-- Main -->
    <main class="bg-slate-400 w-full flex-1 p-2 md:p-4">
      <slot></slot>
    </main>
  </div>
</div>

<script>
  let menuToggleBtn = document.getElementById('toggleMenuButton')
  let sidenav = document.getElementById('sidenav')

  menuToggleBtn?.addEventListener('click', () => {
    if (!sidenav) {
      alert('Could not find the sidenav!')
      return;
    }
    if (sidenav.classList.contains('hidden')) {
      sidenav.classList.remove('hidden')
    } else {
      sidenav.classList.add('hidden')
    }
  })
</script>
